.DS_Store
.dependencies/
.venv/
.vscode/

*.pyc
__pycache__/
*.py[cod]

inventories/
vars.yml
mansplaybook.yml
*aah-fs01*
*_old
test.yml
test_vars.yml
*.secret
*.enc
*secret*
*password*
!inventories/inventory.example.yml
*.pem
