services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    # For DHCP it is recommended to remove these ports and instead add: network_mode: "host"
    restart: always
    networks:
      - webui-net
    volumes:
      - open-webui:/app/backend/data

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - webui-net
    depends_on:
      - openwebui

networks:
  webui-net:
    driver: bridge

volumes:
  open-webui: