networks:
  {{ dockers_lan_name }}:
    external: true

services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./heimdall/config:/config
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    networks:
      {{ dockers_lan_name }}:
        ipv4_address: {{ dockers_heimdall_ip }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3