# .env
FTLCONF_LOCAL_IPV4=192.168.1.10
TZ=America/Denver
WEBPASSWORD=mypass1234!@#$
REV_SERVER=true
REV_SERVER_DOMAIN=local
REV_SERVER_TARGET=192.168.1.1
REV_SERVER_CIDR=192.168.0.0/16
HOSTNAME=pihole-test
DOMAIN_NAME=herbylab.lan
PIHOLE_WEBPORT=80
WEBTHEME=default-dark